body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#sketch-container {
    display: grid;
    width: 40vw;
    height: 40vw;
    border: 2px solid black;
    margin: auto;
}

.drawing-grid {
    border: 1px solid black;
}